.card{
    width: 12em;
    margin: 2em;
    :hover{
        box-shadow: 0.01em 0.01em 1em  rgba(59, 59, 59, 0.582);
    }
}
.card-body{
    :hover{
        box-shadow: none;
    }
}
.card-dark{
    @extend .card !optional;
    background-color: rgb(43, 43, 43);
}
.card-title-dark{
    @extend .card-title !optional;
    color: white;
}
.card-text-dark{
    @extend .card-text !optional;
    color: white;
}
.price-n-add{
    display: flex;
}
.btn-add{
    background-color: #048b6e;
    color: white;
    letter-spacing: 0.35em;
    :hover{
        background-color: white;
        color: #048b6e;
    }
}
a{
    text-decoration: none;
    color: black;
}