.card{
    width: 12em;
    margin: 2em;
    border: none;
    :hover{
        box-shadow: 0.01em 0.01em 1em  rgba(59, 59, 59, 0.582);
        transform: scale(1.1);
        color: black;
    }
}
.card-body{
    border: none;
    padding: 0;
    border: solid 1px rgba(128, 128, 128, 0.514);
    :hover{
        box-shadow: none;
        transform: none;
    }
}
.card-dark{
    @extend .card !optional;
    background-color: rgb(43, 43, 43);
    :hover{
        box-shadow: 0.01em 0.01em 1em  rgba(59, 59, 59, 0.582);
        transform: scale(1.1);
        color: white;
    }
}
.card-body-dark{
    border: none;
    padding: 0;
    background-color: rgb(43, 43, 43);
    :hover{
        box-shadow: none;
        transform: none;
    }
}
.card-title-dark{
    @extend .card-title !optional;
    color: white;
}
.card-text-dark{
    @extend .card-text !optional;
    color: white;
}
.price-n-add{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}
