.cart-item-container{
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em
}
.cart-item-container-dark{
    @extend .cart-item-container;
    background-color: rgb(50, 49, 50);
}
.cart-item-detail{
    display: flex;
    padding: 0 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-item-detail-dark{
    @extend .cart-item-detail;
    color: white;
}