#dev{
    background-color: green;
    color: white;
    margin: 0;
    p{
        margin: 0;
    }
}
.foot-tefiti{
    background-color: rgb(29, 29, 74);
    color: white;
    margin: 0;
    p{
        margin: 0;
    }
}